html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #402086;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}