.Page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .Page_container {
        padding: 0 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
        justify-items: center;
    }
    & .PageNavigator {
        padding: 32px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        & > button {
            width: 40px;
            height: 39px;
            background-color: #D9D0FF;
            border: none;
            border-radius: 0 0 5px 5px;
            & svg {
                & path {
                    fill: black;
                }
            }
        }
        & .PageNumber {
            width: 230px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            & button {
                width: 35px;
                height: 35px;
                border-radius: 3px;
                border: none;
                font-weight: 800;
            }
        }
    }
}

@media (min-width: 744px) {
    .Page {
        padding-top: 30px;
        & .Page_container {
            padding: 0 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 14px;
            justify-items: center;
        }
        & .PageNavigator {
            padding: 35px 0px;
            & > button {
                width: 55px;
                height: 54px;
                background-color: #D9D0FF;
                border: none;
                border-radius: 0 0 5px 5px;
                & svg {
                    & path {
                        fill: black;
                    }
                }
            }
            & .PageNumber {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
                & button {
                    width: 55px;
                    height: 55px;
                    border-radius: 3px;
                    border: none;
                    font-weight: 800;
                }
            }
        }
    }
}